In [0]:
"""By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?"""

from sympy import isprime
def nthprime(x):
  n = 2
  nthprime = 0
  while n < 1000000:
    if isprime(n) == True:
      nthprime += 1 
      if nthprime == x:
        return n
    n += 1

In [0]:
nthprime(10001)

104743

In [0]:
"Largest product in a series"

numbers ="""73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450"""

In [0]:
def remove(numbers):
    return "".join(numbers.split())

def adjacentdigits(numbers, length, j):
  numbers = remove(numbers)
  lst = []
  mult = 1
  lst_product = []
  for x in numbers[j:]:
    lst.append(x)
    if len(lst) == length and '0' not in lst:
      for i in lst:
        k = int(i)
        mult *= k
      lst_product.append(mult)
  return lst_product

def largest_product(numbers, length):
  larget_prod = []
  for j in range(len(numbers)-length): 
    z = adjacentdigits(numbers, length, j)
    larget_prod.append(z)
  return max(larget_prod)

largest_product(numbers, 13)

[5832]

In [0]:
largest_product(numbers, 13)

[23514624000]

In [0]:
""" A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

a2 + b2 = c2
For example, 32 + 42 = 9 + 16 = 25 = 52.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc."""

def Pythagorean_triplet(a, b, n):
  for i in range(100, a):
    for j in range(100, b):
      k = n - i - j
      if pow(i, 2) + pow(j, 2) == pow(k,2):
        return i, j, k, i* j* k

In [0]:
Pythagorean_triplet(500, 500, 1000)

(200, 375, 425, 31875000)

In [0]:
"""The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million."""

from sympy import isprime

def sum_of_primes(n):
  totalprimes = []
  for i in range(1, n):
    if isprime(i) == True:
      totalprimes.append(i)
  return sum(totalprimes)
sum_of_primes(2000000)

In [0]:
sum_of_primes(2000000)

17

In [0]:
grid = """08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50
32 98 81 28 64 23 67 10 26 38 40 67 59 54 70 66 18 38 64 70
67 26 20 68 02 62 12 20 95 63 94 39 63 08 40 91 66 49 94 21
24 55 58 05 66 73 99 26 97 17 78 78 96 83 14 88 34 89 63 72
21 36 23 09 75 00 76 44 20 45 35 14 00 61 33 97 34 31 33 95
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54
def remove(numbers):
    return "".join(numbers.split())01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48"""

In [0]:
def remove(grid):
    return grid.split(" ")

for i in grid:
print(remove(grid))

['08', '02', '22', '97', '38', '15', '00', '40', '00', '75', '04', '05', '07', '78', '52', '12', '50', '77', '91', '08\n49', '49', '99', '40', '17', '81', '18', '57', '60', '87', '17', '40', '98', '43', '69', '48', '04', '56', '62', '00\n81', '49', '31', '73', '55', '79', '14', '29', '93', '71', '40', '67', '53', '88', '30', '03', '49', '13', '36', '65\n52', '70', '95', '23', '04', '60', '11', '42', '69', '24', '68', '56', '01', '32', '56', '71', '37', '02', '36', '91\n22', '31', '16', '71', '51', '67', '63', '89', '41', '92', '36', '54', '22', '40', '40', '28', '66', '33', '13', '80\n24', '47', '32', '60', '99', '03', '45', '02', '44', '75', '33', '53', '78', '36', '84', '20', '35', '17', '12', '50\n32', '98', '81', '28', '64', '23', '67', '10', '26', '38', '40', '67', '59', '54', '70', '66', '18', '38', '64', '70\n67', '26', '20', '68', '02', '62', '12', '20', '95', '63', '94', '39', '63', '08', '40', '91', '66', '49', '94', '21\n24', '55', '58', '05', '66', '73', '99', '26', '97', '17', '78', '78', '96', '83', '14', '88', '34', '89', '63', '72\n21', '36', '23', '09', '75', '00', '76', '44', '20', '45', '35', '14', '00', '61', '33', '97', '34', '31', '33', '95\n78', '17', '53', '28', '22', '75', '31', '67', '15', '94', '03', '80', '04', '62', '16', '14', '09', '53', '56', '92\n16', '39', '05', '42', '96', '35', '31', '47', '55', '58', '88', '24', '00', '17', '54', '24', '36', '29', '85', '57\n86', '56', '00', '48', '35', '71', '89', '07', '05', '44', '44', '37', '44', '60', '21', '58', '51', '54', '17', '58\n19', '80', '81', '68', '05', '94', '47', '69', '28', '73', '92', '13', '86', '52', '17', '77', '04', '89', '55', '40\n04', '52', '08', '83', '97', '35', '99', '16', '07', '97', '57', '32', '16', '26', '26', '79', '33', '27', '98', '66\n88', '36', '68', '87', '57', '62', '20', '72', '03', '46', '33', '67', '46', '55', '12', '32', '63', '93', '53', '69\n04', '42', '16', '73', '38', '25', '39', '11', '24', '94', '72', '18', '08', '46', '29', '32', '40', '62', '76', '36\n20', '69', '36', '41', '72', '30', '23', '88', '34', '62', '99', '69', '82', '67', '59', '85', '74', '04', '36', '16\n20', '73', '35', '29', '78', '31', '90', '01', '74', '31', '49', '71', '48', '86', '81', '16', '23', '57', '05', '54\n01', '70', '54', '71', '83', '51', '54', '69', '16', '92', '33', '48', '61', '43', '52', '01', '89', '19', '67', '48']

In [0]:
"""What is the value of the first triangle number to have over five hundred divisors?"""
n = 7
m = 500
Count = 0
for i in range(1, n):
  for j in range(1, n):
    if  m % j == 0:
      #print(sum(div_num), j, end = ",")
      Count += 1 
      m += 1 
      print(Count)

In [0]:
"""What is the value of the first triangle number to have over five hundred divisors?"""
from functools import reduce 
def firsttriangle(i):
  return reduce(lambda x,y: x+y, range(1, i+1))

#def triangle_numbers(n):
#  return [firsttriangle(i) for i in range(1, n+1)]

#def number_of_divisors(x, n):
  div_num = []
  lst_count = []
  lst_single_digi_div = []
  for i in range(x, n+1):
    Count = 0
    singledigit = 0
    if i == x:
      div_num.append(firsttriangle(i))
    else:
      div_num.append(i)
    #print(div_num, sum(div_num))
    if len(str(sum(div_num))) > 4:
      for s in [2, 3, 4, 5, 6, 7, 8, 9]:
        if sum(div_num) % s == 0:
          #print(sum(div_num), s, end = ",")
          singledigit += 1
      if singledigit > 6:
        lst_single_digi_div.append(sum(div_num))
        
      for j in range(1, (sum(div_num)+1)):
        for k in lst_single_digi_div:
          if k % j == 0:
            Count += 1 
    else:
      for j in range(1, (sum(div_num)+1)):
        if sum(div_num) % j == 0:
          #print(sum(div_num), j, end = ",")
          Count += 1
     
    lst_count.append(Count)
  print(sum(div_num), lst_count)
  return max(lst_count)

In [0]:
print(number_of_divisors(2600, 2700))

#76576500

3646350 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 448, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568, 568]
568

In [0]:
pow(2,20), pow(2,26)

(1048576, 67108864)

In [0]:
"""What is the value of the first triangle number to have over five hundred divisors?"""

import timeit
start = timeit.default_timer()

def number_of_divisors(n, c):
  triangular_number = 0
  for i in range(1, n+1):
    Count = 0
    singledig_div = 0
    triangular_number += i 

    #check no of divisors
    for j in range(1, triangular_number+1):
      if triangular_number % j == 0:
        Count += 1 
    if Count >= c:
      break

  stop = timeit.default_timer()
  execution_time = stop - start
  return (triangular_number, execution_time)

In [0]:
"""What is the value of the first triangle number to have over five hundred divisors? using exponential formula"""
from functools import reduce 
import time
start_time = time.time()

def no_of_divisors(n, divisors):
  for t in range(2, n+1):
    triangular_number = 0
    exponential = []
    for i in range(1, t+1):
      #calculate the traingular number for i and sav it to lt_number
      t_number = (i * (i + 1))//2
      triangular_number += i
    j = 2
    while j <= triangular_number:
      if triangular_number % j == 0:
        triangular_number /= j
        exponential.append(j)
        j = j
      else: 
        j += 1

    my_dict = {i:exponential.count(i) for i in exponential}

    res = list(map(lambda x: x + 1, my_dict.values()))

    if res != []:
      z = reduce(lambda x,y: x*y, res)

    if z >= divisors:
      print("For number:",t, "\nTriangular number is:", t_number, "\nNo of divisors are:", z, "\nTime calculated is:", (time.time() - start_time), sep=" ")
      break
  
  return t_number, z

In [0]:
no_of_divisors(15000, 500)

For number: 12375
Triangular number is: 76576500
No of divisors are: 576
Time calculated is: 55.357057332992554

(76576500, 576)

In [0]:
%cd

/root